
body {
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
    display: block;
    text-align: justify;
}

a{
    color:aquamarine;
    text-decoration: none;
}
a:hover{
    color: white;
}